*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}


.container{
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1rem;
    background-color: yellowgreen;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: repeat(auto-fit,minmax(200px,550px));
}

.item{
    padding: 1rem;
    border: 3px solid black;
    background-color: blueviolet;
    color: white;
    
}